body {
    /* ff 3.6+ */
    background: -moz-linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 0%, rgba(230, 168, 230, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 0%, rgba(230, 168, 230, 1) 100%);

    /* opera 11.10+ */
    background: -o-linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 0%, rgba(230, 168, 230, 1) 100%);

    /* ie 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E6A8E6', endColorstr='#FFFF00', GradientType=0);

    /* ie 10+ */
    background: -ms-linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 0%, rgba(230, 168, 230, 1) 100%);

    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(0, 188, 212, 1) 0%, rgba(230, 168, 230, 1) 100%);

    font-family: 'Roboto Mono', monospace;
}
.backdiv1{
    background: rgb(238, 235, 235);
}